<a href="https://colab.research.google.com/github/GIRINATH25/BRNtoSLV/blob/main/new_vector.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas sentence-transformers chromadb

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: sentence-transformers in /usr/local/lib/python3.12/dist-packages (5.2.3)
Collecting chromadb
  Downloading chromadb-1.5.1-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (7.2 kB)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: transformers<6.0.0,>=4.41.0 in /usr/local/lib/python3.12/dist-packages (from sentence-transformers) (5.0.0)
Requirement already satisfied: huggingface-hub>=0.20.0 in /usr/local/lib/python3.12/dist-packages (from sentence-transformers) (1.4.1)
Requirement already satisfied: torch>=1.11.0 in /usr/local/lib/python3.12/dist-packages (from sentence-transformers) (2.10.0+cpu)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (from sentence-transformers) (1.6.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (from sentence-transformers) (1.16.3)
Requirement already satisfied: typing_extensions>=4.5.0 in /usr/local/lib/python3.12/dist-packages (from sentence-transformers) (4.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from sentence-transformers) (4.67.3)
Collecting build>=1.0.3 (from chromadb)
  Downloading build-1.4.0-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: pydantic>=1.9 in /usr/local/lib/python3.12/dist-packages (from chromadb) (2.12.3)
Collecting pybase64>=1.4.1 (from chromadb)
  Downloading pybase64-1.4.3-cp312-cp312-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl.metadata (8.7 kB)
Requirement already satisfied: uvicorn>=0.18.3 in /usr/local/lib/python3.12/dist-packages (from uvicorn[standard]>=0.18.3->chromadb) (0.41.0)
Collecting posthog<6.0.0,>=2.4.0 (from chromadb)
  Downloading posthog-5.4.0-py3-none-any.whl.metadata (5.7 kB)
Collecting onnxruntime>=1.14.1 (from chromadb)
  Downloading onnxruntime-1.24.2-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (5.0 kB)
Requirement already satisfied: opentelemetry-api>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from chromadb) (1.38.0)
Collecting opentelemetry-exporter-otlp-proto-grpc>=1.2.0 (from chromadb)
  Downloading opentelemetry_exporter_otlp_proto_grpc-1.39.1-py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: opentelemetry-sdk>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from chromadb) (1.38.0)
Requirement already satisfied: tokenizers>=0.13.2 in /usr/local/lib/python3.12/dist-packages (from chromadb) (0.22.2)
Collecting pypika>=0.48.9 (from chromadb)
  Downloading pypika-0.51.1-py2.py3-none-any.whl.metadata (51 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.0/52.0 kB 2.2 MB/s eta 0:00:00
Requirement already satisfied: overrides>=7.3.1 in /usr/local/lib/python3.12/dist-packages (from chromadb) (7.7.0)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.12/dist-packages (from chromadb) (6.5.2)
Requirement already satisfied: grpcio>=1.58.0 in /usr/local/lib/python3.12/dist-packages (from chromadb) (1.78.0)
Collecting bcrypt>=4.0.1 (from chromadb)
  Downloading bcrypt-5.0.0-cp39-abi3-manylinux_2_34_x86_64.whl.metadata (10 kB)
Requirement already satisfied: typer>=0.9.0 in /usr/local/lib/python3.12/dist-packages (from chromadb) (0.24.0)
Collecting kubernetes>=28.1.0 (from chromadb)
  Downloading kubernetes-35.0.0-py2.py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: tenacity>=8.2.3 in /usr/local/lib/python3.12/dist-packages (from chromadb) (9.1.4)
Requirement already satisfied: pyyaml>=6.0.0 in /usr/local/lib/python3.12/dist-packages (from chromadb) (6.0.3)
Requirement already satisfied: mmh3>=4.0.1 in /usr/local/lib/python3.12/dist-packages (from chromadb) (5.2.0)
Requirement already satisfied: orjson>=3.9.12 in /usr/local/lib/python3.12/dist-packages (from chromadb) (3.11.7)
Requirement already satisfied: httpx>=0.27.0 in /usr/local/lib/python3.12/dist-packages (from chromadb) (0.28.1)
Requirement already satisfied: rich>=10.11.0 in /usr/local/lib/python3.12/dist-packages (from chromadb) (13.9.4)
Requirement already satisfied: jsonschema>=4.19.0 in /usr/local/lib/python3.12/dist-packages (from chromadb) (4.26.0)
Requirement already satisfied: packaging>=24.0 in /usr/local/lib/python3.12/dist-packages (from build>=1.0.3->chromadb) (26.0)
Collecting pyproject_hooks (from build>=1.0.3->chromadb)
  Downloading pyproject_hooks-1.2.0-py3-none-any.whl.metadata (1.3 kB)
Requirement already satisfied: anyio in /usr/local/lib/python3.12/dist-packages (from httpx>=0.27.0->chromadb) (4.12.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from httpx>=0.27.0->chromadb) (2026.1.4)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.12/dist-packages (from httpx>=0.27.0->chromadb) (1.0.9)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from httpx>=0.27.0->chromadb) (3.11)
Requirement already satisfied: h11>=0.16 in /usr/local/lib/python3.12/dist-packages (from httpcore==1.*->httpx>=0.27.0->chromadb) (0.16.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.12/dist-packages (from huggingface-hub>=0.20.0->sentence-transformers) (3.24.2)
Requirement already satisfied: fsspec>=2023.5.0 in /usr/local/lib/python3.12/dist-packages (from huggingface-hub>=0.20.0->sentence-transformers) (2025.3.0)
Requirement already satisfied: hf-xet<2.0.0,>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from huggingface-hub>=0.20.0->sentence-transformers) (1.2.0)
Requirement already satisfied: shellingham in /usr/local/lib/python3.12/dist-packages (from huggingface-hub>=0.20.0->sentence-transformers) (1.5.4)
Requirement already satisfied: typer-slim in /usr/local/lib/python3.12/dist-packages (from huggingface-hub>=0.20.0->sentence-transformers) (0.24.0)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=4.19.0->chromadb) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=4.19.0->chromadb) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=4.19.0->chromadb) (0.37.0)
Requirement already satisfied: rpds-py>=0.25.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=4.19.0->chromadb) (0.30.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.12/dist-packages (from kubernetes>=28.1.0->chromadb) (1.17.0)
Requirement already satisfied: websocket-client!=0.40.0,!=0.41.*,!=0.42.*,>=0.32.0 in /usr/local/lib/python3.12/dist-packages (from kubernetes>=28.1.0->chromadb) (1.9.0)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kubernetes>=28.1.0->chromadb) (2.32.4)
Requirement already satisfied: requests-oauthlib in /usr/local/lib/python3.12/dist-packages (from kubernetes>=28.1.0->chromadb) (2.0.0)
Requirement already satisfied: urllib3!=2.6.0,>=1.24.2 in /usr/local/lib/python3.12/dist-packages (from kubernetes>=28.1.0->chromadb) (2.5.0)
Collecting durationpy>=0.7 (from kubernetes>=28.1.0->chromadb)
  Downloading durationpy-0.10-py3-none-any.whl.metadata (340 bytes)
Requirement already satisfied: flatbuffers in /usr/local/lib/python3.12/dist-packages (from onnxruntime>=1.14.1->chromadb) (25.12.19)
Requirement already satisfied: protobuf in /usr/local/lib/python3.12/dist-packages (from onnxruntime>=1.14.1->chromadb) (5.29.6)
Requirement already satisfied: sympy in /usr/local/lib/python3.12/dist-packages (from onnxruntime>=1.14.1->chromadb) (1.14.0)
Requirement already satisfied: importlib-metadata<8.8.0,>=6.0 in /usr/local/lib/python3.12/dist-packages (from opentelemetry-api>=1.2.0->chromadb) (8.7.1)
Requirement already satisfied: googleapis-common-protos~=1.57 in /usr/local/lib/python3.12/dist-packages (from opentelemetry-exporter-otlp-proto-grpc>=1.2.0->chromadb) (1.72.0)
Collecting opentelemetry-exporter-otlp-proto-common==1.39.1 (from opentelemetry-exporter-otlp-proto-grpc>=1.2.0->chromadb)
  Downloading opentelemetry_exporter_otlp_proto_common-1.39.1-py3-none-any.whl.metadata (1.8 kB)
Collecting opentelemetry-proto==1.39.1 (from opentelemetry-exporter-otlp-proto-grpc>=1.2.0->chromadb)
  Downloading opentelemetry_proto-1.39.1-py3-none-any.whl.metadata (2.3 kB)
Collecting opentelemetry-sdk>=1.2.0 (from chromadb)
  Downloading opentelemetry_sdk-1.39.1-py3-none-any.whl.metadata (1.5 kB)
Collecting opentelemetry-api>=1.2.0 (from chromadb)
  Downloading opentelemetry_api-1.39.1-py3-none-any.whl.metadata (1.5 kB)
Collecting opentelemetry-semantic-conventions==0.60b1 (from opentelemetry-sdk>=1.2.0->chromadb)
  Downloading opentelemetry_semantic_conventions-0.60b1-py3-none-any.whl.metadata (2.4 kB)
Collecting backoff>=1.10.0 (from posthog<6.0.0,>=2.4.0->chromadb)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: distro>=1.5.0 in /usr/local/lib/python3.12/dist-packages (from posthog<6.0.0,>=2.4.0->chromadb) (1.9.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=1.9->chromadb) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.4 in /usr/local/lib/python3.12/dist-packages (from pydantic>=1.9->chromadb) (2.41.4)
Requirement already satisfied: typing-inspection>=0.4.2 in /usr/local/lib/python3.12/dist-packages (from pydantic>=1.9->chromadb) (0.4.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.12/dist-packages (from rich>=10.11.0->chromadb) (4.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.12/dist-packages (from rich>=10.11.0->chromadb) (2.19.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.12/dist-packages (from torch>=1.11.0->sentence-transformers) (75.2.0)
Requirement already satisfied: networkx>=2.5.1 in /usr/local/lib/python3.12/dist-packages (from torch>=1.11.0->sentence-transformers) (3.6.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from torch>=1.11.0->sentence-transformers) (3.1.6)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.12/dist-packages (from transformers<6.0.0,>=4.41.0->sentence-transformers) (2025.11.3)
Requirement already satisfied: safetensors>=0.4.3 in /usr/local/lib/python3.12/dist-packages (from transformers<6.0.0,>=4.41.0->sentence-transformers) (0.7.0)
Requirement already satisfied: click>=8.2.1 in /usr/local/lib/python3.12/dist-packages (from typer>=0.9.0->chromadb) (8.3.1)
Requirement already satisfied: annotated-doc>=0.0.2 in /usr/local/lib/python3.12/dist-packages (from typer>=0.9.0->chromadb) (0.0.4)
Requirement already satisfied: httptools>=0.6.3 in /usr/local/lib/python3.12/dist-packages (from uvicorn[standard]>=0.18.3->chromadb) (0.7.1)
Requirement already satisfied: python-dotenv>=0.13 in /usr/local/lib/python3.12/dist-packages (from uvicorn[standard]>=0.18.3->chromadb) (1.2.1)
Requirement already satisfied: uvloop>=0.15.1 in /usr/local/lib/python3.12/dist-packages (from uvicorn[standard]>=0.18.3->chromadb) (0.22.1)
Requirement already satisfied: watchfiles>=0.20 in /usr/local/lib/python3.12/dist-packages (from uvicorn[standard]>=0.18.3->chromadb) (1.1.1)
Requirement already satisfied: websockets>=10.4 in /usr/local/lib/python3.12/dist-packages (from uvicorn[standard]>=0.18.3->chromadb) (15.0.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn->sentence-transformers) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn->sentence-transformers) (3.6.0)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.12/dist-packages (from importlib-metadata<8.8.0,>=6.0->opentelemetry-api>=1.2.0->chromadb) (3.23.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.12/dist-packages (from markdown-it-py>=2.2.0->rich>=10.11.0->chromadb) (0.1.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->kubernetes>=28.1.0->chromadb) (3.4.4)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.12/dist-packages (from sympy->onnxruntime>=1.14.1->chromadb) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->torch>=1.11.0->sentence-transformers) (3.0.3)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.12/dist-packages (from requests-oauthlib->kubernetes>=28.1.0->chromadb) (3.3.1)
Downloading chromadb-1.5.1-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (21.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 73.1 MB/s eta 0:00:00
Downloading bcrypt-5.0.0-cp39-abi3-manylinux_2_34_x86_64.whl (278 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 278.2/278.2 kB 18.7 MB/s eta 0:00:00
Downloading build-1.4.0-py3-none-any.whl (24 kB)
Downloading kubernetes-35.0.0-py2.py3-none-any.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 78.8 MB/s eta 0:00:00
Downloading onnxruntime-1.24.2-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (17.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.1/17.1 MB 82.2 MB/s eta 0:00:00
Downloading opentelemetry_exporter_otlp_proto_grpc-1.39.1-py3-none-any.whl (19 kB)
Downloading opentelemetry_exporter_otlp_proto_common-1.39.1-py3-none-any.whl (18 kB)
Downloading opentelemetry_proto-1.39.1-py3-none-any.whl (72 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 72.5/72.5 kB 5.6 MB/s eta 0:00:00
Downloading opentelemetry_sdk-1.39.1-py3-none-any.whl (132 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 132.6/132.6 kB 10.3 MB/s eta 0:00:00
Downloading opentelemetry_api-1.39.1-py3-none-any.whl (66 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 66.4/66.4 kB 5.1 MB/s eta 0:00:00
Downloading opentelemetry_semantic_conventions-0.60b1-py3-none-any.whl (219 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 220.0/220.0 kB 16.1 MB/s eta 0:00:00
Downloading posthog-5.4.0-py3-none-any.whl (105 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.4/105.4 kB 7.9 MB/s eta 0:00:00
Downloading pybase64-1.4.3-cp312-cp312-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl (71 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.6/71.6 kB 5.5 MB/s eta 0:00:00
Downloading pypika-0.51.1-py2.py3-none-any.whl (60 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.6/60.6 kB 4.7 MB/s eta 0:00:00
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Downloading durationpy-0.10-py3-none-any.whl (3.9 kB)
Downloading pyproject_hooks-1.2.0-py3-none-any.whl (10 kB)
Installing collected packages: pypika, durationpy, pyproject_hooks, pybase64, opentelemetry-proto, bcrypt, backoff, posthog, opentelemetry-exporter-otlp-proto-common, opentelemetry-api, onnxruntime, build, opentelemetry-semantic-conventions, kubernetes, opentelemetry-sdk, opentelemetry-exporter-otlp-proto-grpc, chromadb
  Attempting uninstall: opentelemetry-proto
    Found existing installation: opentelemetry-proto 1.38.0
    Uninstalling opentelemetry-proto-1.38.0:
      Successfully uninstalled opentelemetry-proto-1.38.0
  Attempting uninstall: opentelemetry-exporter-otlp-proto-common
    Found existing installation: opentelemetry-exporter-otlp-proto-common 1.38.0
    Uninstalling opentelemetry-exporter-otlp-proto-common-1.38.0:
      Successfully uninstalled opentelemetry-exporter-otlp-proto-common-1.38.0
  Attempting uninstall: opentelemetry-api
    Found existing installation: opentelemetry-api 1.38.0
    Uninstalling opentelemetry-api-1.38.0:
      Successfully uninstalled opentelemetry-api-1.38.0
  Attempting uninstall: opentelemetry-semantic-conventions
    Found existing installation: opentelemetry-semantic-conventions 0.59b0
    Uninstalling opentelemetry-semantic-conventions-0.59b0:
      Successfully uninstalled opentelemetry-semantic-conventions-0.59b0
  Attempting uninstall: opentelemetry-sdk
    Found existing installation: opentelemetry-sdk 1.38.0
    Uninstalling opentelemetry-sdk-1.38.0:
      Successfully uninstalled opentelemetry-sdk-1.38.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
opentelemetry-exporter-gcp-logging 1.11.0a0 requires opentelemetry-sdk<1.39.0,>=1.35.0, but you have opentelemetry-sdk 1.39.1 which is incompatible.
opentelemetry-exporter-otlp-proto-http 1.38.0 requires opentelemetry-exporter-otlp-proto-common==1.38.0, but you have opentelemetry-exporter-otlp-proto-common 1.39.1 which is incompatible.
opentelemetry-exporter-otlp-proto-http 1.38.0 requires opentelemetry-proto==1.38.0, but you have opentelemetry-proto 1.39.1 which is incompatible.
opentelemetry-exporter-otlp-proto-http 1.38.0 requires opentelemetry-sdk~=1.38.0, but you have opentelemetry-sdk 1.39.1 which is incompatible.
Successfully installed backoff-2.2.1 bcrypt-5.0.0 build-1.4.0 chromadb-1.5.1 durationpy-0.10 kubernetes-35.0.0 onnxruntime-1.24.2 opentelemetry-api-1.39.1 opentelemetry-exporter-otlp-proto-common-1.39.1 opentelemetry-exporter-otlp-proto-grpc-1.39.1 opentelemetry-proto-1.39.1 opentelemetry-sdk-1.39.1 opentelemetry-semantic-conventions-0.60b1 posthog-5.4.0 pybase64-1.4.3 pypika-0.51.1 pyproject_hooks-1.2.0

In [16]:
import pandas as pd

df = pd.read_excel('/content/main_lookup.xlsx')

In [17]:
# dummy data insertion just run this cell don't review it xxxx

# Define the new row data for a department-related column
new_department_data = {
    'sourcename': 'SQL Server',
    'sourceid': 'departmentdata',
    'source_tablename': 'department_data',
    'bronzedwh_tablename': 'stg_departmentdata',
    'silverdwh_tablename': 'd_department_data',
    'column_id': 1,
    'source_columnname': 'department_id',
    'bronzedwh_columnname': 'department_id',
    'silverdwh_columnname': 'department_id',
    'datatype': 'INTEGER',
    'lh_datatype': None, # Using None for NaN
    'length': None, # Using None for NaN
    'precisions': 10.0,
    'scale': 0.0,
    'keyconstraint': 'PRIMARY KEY',
    'nullable': True,
    'silver_default_value': '0',
    'createdatetime': '2025-09-26 16:43:50.303',
    'document': None # This will be generated later
}

# Create a DataFrame from the new row data
new_department_df = pd.DataFrame([new_department_data])

# Concatenate the new DataFrame with the existing df
df = pd.concat([df, new_department_df], ignore_index=True)

/tmp/ipython-input-3783146945.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_department_df], ignore_index=True)

In [18]:
df

,sourcename,sourceid,source_tablename,bronzedwh_tablename,silverdwh_tablename,column_id,source_columnname,bronzedwh_columnname,silverdwh_columnname,datatype,lh_datatype,length,precisions,scale,keyconstraint,nullable,silver_default_value,createdatetime,document
0,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,1,id,id,id,BIGINT,NaN,NaN,19.0,0.0,PRIMARY KEY,True,0,2025-09-26 16:43:50.303000,NaN
1,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,2,date,date,date,TIMESTAMP,NaN,NaN,NaN,NaN,NaN,True,1970-01-01 00:00:00,2025-09-26 16:43:50.303000,NaN
2,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,3,customer_id,customer_id,customer_id,INTEGER,NaN,NaN,10.0,0.0,NaN,True,NaN,2025-09-26 16:43:50.303000,NaN
3,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,4,entity_id,entity_id,entity_id,INTEGER,NaN,NaN,10.0,0.0,NaN,True,NaN,2025-09-26 16:43:50.303000,NaN
4,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,5,region_id,region_id,region_id,INTEGER,NaN,NaN,10.0,0.0,NaN,True,NaN,2025-09-26 16:43:50.303000,NaN
5,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,6,country_id,country_id,country_id,INTEGER,NaN,NaN,10.0,0.0,NaN,True,NaN,2025-09-26 16:43:50.303000,NaN
6,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,7,division_id,division_id,division_id,INTEGER,NaN,NaN,10.0,0.0,NaN,True,NaN,2025-09-26 16:43:50.303000,NaN
7,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,8,saletype,saletype,saletype,VARCHAR,NaN,100.0,NaN,NaN,NaN,True,NaN,2025-09-26 16:43:50.303000,NaN
8,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,9,invoiceamountintrancurrency,invoiceamountintrancurrency,invoiceamountintrancurrency,INTEGER,NaN,NaN,10.0,0.0,NaN,True,NaN,2025-09-26 16:43:50.303000,NaN
9,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,10,currency,currency,currency,VARCHAR,NaN,100.0,NaN,NaN,NaN,True,NaN,2025-09-26 16:43:50.303000,NaN
10,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,11,exchangerate,exchangerate,exchangerate,NUMERIC,NaN,NaN,20.0,2.0,NaN,True,0,2025-09-26 16:43:50.303000,NaN
11,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,12,invoiceamountinbasecurrency,invoiceamountinbasecurrency,invoiceamountinbasecurrency,INTEGER,NaN,NaN,10.0,0.0,NaN,True,NaN,2025-09-26 16:43:50.303000,NaN
12,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,7,SaleType,SaleType,SaleType,StringType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,NaN
13,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,5,Country_id,Country_id,Country_id,IntegerType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,NaN
14,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,9,Currency,Currency,Currency,StringType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,NaN
15,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,10,Exchangerate,Exchangerate,Exchangerate,"DecimalType(20,2)",NaN,NaN,20.0,2.0,NO,True,NaN,NaT,NaN
16,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,0,id,id,id,LongType(),NaN,NaN,NaN,NaN,YES,True,NaN,NaT,NaN
17,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,3,Entity_id,Entity_id,Entity_id,IntegerType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,NaN
18,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,2,customer_id,customer_id,customer_id,IntegerType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,NaN
19,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,11,Invoiceamountinbasecurrency,Invoiceamountinbasecurrency,Invoiceamountinbasecurrency,IntegerType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,NaN
20,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,1,Date,Date,Date,TimestampType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,NaN
21,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,6,Division_id,Division_id,Division_id,IntegerType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,NaN
22,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,8,InvoiceamountinTrancurrency,InvoiceamountinTrancurrency,InvoiceamountinTrancurrency,IntegerType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,NaN
23,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,4,Region_id,Region_id,Region_id,IntegerType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,NaN
24,PostgreSQL,country,country,stg_country,d_country,1,country_id,country_id,country_id,INTEGER,NaN,NaN,32.0,0.0,PRIMARY KEY,False,NaN,2025-09-29 15:12:30.867000,NaN
25,PostgreSQL,country,country,stg_country,d_country,2,country_name,country_name,country_name,text,NaN,100.0,NaN,NaN,NaN,True,NaN,2025-09-29 15:12:30.867000,NaN
26,PostgreSQL,country,country,stg_country,d_country,3,created_date,created_date,created_date,TIMESTAMP WITHOUT TIME ZONE,NaN,NaN,NaN,NaN,NaN,True,NaN,2025-09-29 15:12:30.867000,NaN
27,PostgreSQL,country,country,stg_country,d_country,1,country_name,country_name,country_name,StringType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,NaN
28,PostgreSQL,country,country,stg_country,d_country,2,created_date,created_date,created_date,TimestampType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,NaN
29,PostgreSQL,country,country,stg_country,d_country,0,country_id,country_id,country_id,IntegerType(),NaN,NaN,NaN,NaN,YES,True,NaN,NaT,NaN
30,SQL Server,departmentdata,department_data,stg_departmentdata,d_department_data,1,department_id,department_id,department_id,INTEGER,NaN,NaN,10.0,0.0,PRIMARY KEY,True,0,2025-09-26 16:43:50.303,None

In [19]:
def build_document(row):
    parts = [
        f"Table: {row['source_tablename']}",
        f"Column: {row['source_columnname']}",
        f"Type: {row['datatype']}"
    ]
    if 'description' in row and pd.notna(row['description']):
        parts.append(f"Description: {row['description']}")
    return " | ".join(parts)

df["document"] = df.apply(build_document, axis=1)

In [20]:
df['document']

0       Table: invoice_data | Column: id | Type: BIGINT
1     Table: invoice_data | Column: date | Type: TIM...
2     Table: invoice_data | Column: customer_id | Ty...
3     Table: invoice_data | Column: entity_id | Type...
4     Table: invoice_data | Column: region_id | Type...
5     Table: invoice_data | Column: country_id | Typ...
6     Table: invoice_data | Column: division_id | Ty...
7     Table: invoice_data | Column: saletype | Type:...
8     Table: invoice_data | Column: invoiceamountint...
9     Table: invoice_data | Column: currency | Type:...
10    Table: invoice_data | Column: exchangerate | T...
11    Table: invoice_data | Column: invoiceamountinb...
12    Table: invoice_data | Column: SaleType | Type:...
13    Table: invoice_data | Column: Country_id | Typ...
14    Table: invoice_data | Column: Currency | Type:...
15    Table: invoice_data | Column: Exchangerate | T...
16    Table: invoice_data | Column: id | Type: LongT...
17    Table: invoice_data | Column: Entity_id | Type...
18    Table: invoice_data | Column: customer_id | Ty...
19    Table: invoice_data | Column: Invoiceamountinb...
20    Table: invoice_data | Column: Date | Type: Tim...
21    Table: invoice_data | Column: Division_id | Ty...
22    Table: invoice_data | Column: InvoiceamountinT...
23    Table: invoice_data | Column: Region_id | Type...
24    Table: country | Column: country_id | Type: IN...
25    Table: country | Column: country_name | Type: ...
26    Table: country | Column: created_date | Type: ...
27    Table: country | Column: country_name | Type: ...
28    Table: country | Column: created_date | Type: ...
29    Table: country | Column: country_id | Type: In...
30    Table: department_data | Column: department_id...
Name: document, dtype: object

### i've used chromadb(vector) instead use pgvector.
### For embedding i've used 'all-MiniLM-L6-v2' instead use gpt model name

In [21]:
import chromadb
from chromadb.utils import embedding_functions

In [22]:
embedding_fn = embedding_functions.SentenceTransformerEmbeddingFunction(
    model_name="all-MiniLM-L6-v2"
)
chroma_client = chromadb.Client()

In [23]:
collection = chroma_client.create_collection(
    name="metadata_lookup",
    embedding_function=embedding_fn
)

In [24]:
collection.add(
    documents=df["document"].tolist(),
    metadatas=df[["source_tablename", "source_columnname", "datatype"]].to_dict(orient="records"),
    ids=[f"row_{i}" for i in range(len(df))]
)

In [25]:
def search_metadata(user_query, top_k=None):
    n_results = collection.count() if top_k is None else top_k

    results = collection.query(
        query_texts=[user_query],
        n_results=n_results
    )

    distances = results["distances"][0]
    documents = results["documents"][0]
    metadatas = results["metadatas"][0]

    # Sort by distance
    sorted_data = sorted(
        zip(distances, documents, metadatas),
        key=lambda x: x[0]
    )

    sorted_distances = [x[0] for x in sorted_data]

    # Detect largest gap
    gaps = [
        sorted_distances[i+1] - sorted_distances[i]
        for i in range(len(sorted_distances)-1)
    ]

    if not gaps:
        return results

    split_index = gaps.index(max(gaps)) + 1

    # Keep only strong cluster
    strong_matches = sorted_data[:split_index]

    filtered = {
        "documents": [[x[1] for x in strong_matches]],
        "metadatas": [[x[2] for x in strong_matches]],
        "distances": [[x[0] for x in strong_matches]],
    }

    return filtered

In [26]:
from collections import defaultdict

def rank_tables(results):
    table_scores = defaultdict(list)

    for doc, meta, dist in zip(
        results["documents"][0],
        results["metadatas"][0],
        results["distances"][0]
    ):
        table_scores[meta["source_tablename"]].append({
            "column": meta["source_columnname"],
            "score": dist,
            "doc": doc
        })

    # Sort tables by best (lowest distance)
    ranked_tables = sorted(
        table_scores.items(),
        key=lambda x: min(col["score"] for col in x[1])
    )

    return ranked_tables

In [27]:
query = "finance"

results = search_metadata(query)
ranked_tables = rank_tables(results)

print(results,'res ******')
print(ranked_tables,'rank *****')

{'documents': [['Table: invoice_data | Column: currency | Type: VARCHAR', 'Table: invoice_data | Column: Currency | Type: StringType()', 'Table: invoice_data | Column: invoiceamountinbasecurrency | Type: INTEGER', 'Table: invoice_data | Column: invoiceamountintrancurrency | Type: INTEGER', 'Table: invoice_data | Column: exchangerate | Type: NUMERIC', 'Table: invoice_data | Column: Invoiceamountinbasecurrency | Type: IntegerType()', 'Table: invoice_data | Column: InvoiceamountinTrancurrency | Type: IntegerType()', 'Table: invoice_data | Column: division_id | Type: INTEGER', 'Table: invoice_data | Column: entity_id | Type: INTEGER', 'Table: invoice_data | Column: Exchangerate | Type: DecimalType(20,2)', 'Table: invoice_data | Column: Division_id | Type: IntegerType()', 'Table: invoice_data | Column: id | Type: BIGINT', 'Table: invoice_data | Column: country_id | Type: INTEGER', 'Table: invoice_data | Column: Date | Type: TimestampType()', 'Table: invoice_data | Column: customer_id | Type: INTEGER', 'Table: invoice_data | Column: saletype | Type: VARCHAR', 'Table: invoice_data | Column: date | Type: TIMESTAMP', 'Table: invoice_data | Column: region_id | Type: INTEGER', 'Table: invoice_data | Column: SaleType | Type: StringType()', 'Table: invoice_data | Column: Country_id | Type: IntegerType()', 'Table: invoice_data | Column: Entity_id | Type: IntegerType()', 'Table: invoice_data | Column: Region_id | Type: IntegerType()', 'Table: invoice_data | Column: customer_id | Type: IntegerType()', 'Table: invoice_data | Column: id | Type: LongType()']], 'metadatas': [[{'source_tablename': 'invoice_data', 'source_columnname': 'currency', 'datatype': 'VARCHAR'}, {'datatype': 'StringType()', 'source_tablename': 'invoice_data', 'source_columnname': 'Currency'}, {'source_tablename': 'invoice_data', 'datatype': 'INTEGER', 'source_columnname': 'invoiceamountinbasecurrency'}, {'datatype': 'INTEGER', 'source_tablename': 'invoice_data', 'source_columnname': 'invoiceamountintrancurrency'}, {'source_tablename': 'invoice_data', 'source_columnname': 'exchangerate', 'datatype': 'NUMERIC'}, {'source_tablename': 'invoice_data', 'datatype': 'IntegerType()', 'source_columnname': 'Invoiceamountinbasecurrency'}, {'source_columnname': 'InvoiceamountinTrancurrency', 'source_tablename': 'invoice_data', 'datatype': 'IntegerType()'}, {'source_tablename': 'invoice_data', 'source_columnname': 'division_id', 'datatype': 'INTEGER'}, {'datatype': 'INTEGER', 'source_columnname': 'entity_id', 'source_tablename': 'invoice_data'}, {'source_columnname': 'Exchangerate', 'datatype': 'DecimalType(20,2)', 'source_tablename': 'invoice_data'}, {'source_columnname': 'Division_id', 'datatype': 'IntegerType()', 'source_tablename': 'invoice_data'}, {'source_columnname': 'id', 'datatype': 'BIGINT', 'source_tablename': 'invoice_data'}, {'source_columnname': 'country_id', 'datatype': 'INTEGER', 'source_tablename': 'invoice_data'}, {'source_tablename': 'invoice_data', 'source_columnname': 'Date', 'datatype': 'TimestampType()'}, {'source_columnname': 'customer_id', 'datatype': 'INTEGER', 'source_tablename': 'invoice_data'}, {'source_tablename': 'invoice_data', 'source_columnname': 'saletype', 'datatype': 'VARCHAR'}, {'source_tablename': 'invoice_data', 'source_columnname': 'date', 'datatype': 'TIMESTAMP'}, {'source_columnname': 'region_id', 'source_tablename': 'invoice_data', 'datatype': 'INTEGER'}, {'datatype': 'StringType()', 'source_columnname': 'SaleType', 'source_tablename': 'invoice_data'}, {'source_tablename': 'invoice_data', 'source_columnname': 'Country_id', 'datatype': 'IntegerType()'}, {'source_columnname': 'Entity_id', 'datatype': 'IntegerType()', 'source_tablename': 'invoice_data'}, {'source_columnname': 'Region_id', 'source_tablename': 'invoice_data', 'datatype': 'IntegerType()'}, {'datatype': 'IntegerType()', 'source_columnname': 'customer_id', 'source_tablename': 'invoice_data'}, {'datatype': 'LongType()', 'source_columnname': 'id', 'source_tablename': 'invoice_data'}]], 'distances': [[0.761412501335144, 0.7714238166809082, 0.7794254422187805, 0.7812486886978149, 0.8029142022132874, 0.8169113397598267, 0.8196846842765808, 0.8278186321258545, 0.8555570244789124, 0.8558158278465271, 0.8599708080291748, 0.8608421683311462, 0.8632621169090271, 0.8640649318695068, 0.8666876554489136, 0.8670449256896973, 0.8678449392318726, 0.8707946538925171, 0.8799123167991638, 0.8847094178199768, 0.8884963393211365, 0.8947593569755554, 0.8987162113189697, 0.9086494445800781]]} res ******
[('invoice_data', [{'column': 'currency', 'score': 0.761412501335144, 'doc': 'Table: invoice_data | Column: currency | Type: VARCHAR'}, {'column': 'Currency', 'score': 0.7714238166809082, 'doc': 'Table: invoice_data | Column: Currency | Type: StringType()'}, {'column': 'invoiceamountinbasecurrency', 'score': 0.7794254422187805, 'doc': 'Table: invoice_data | Column: invoiceamountinbasecurrency | Type: INTEGER'}, {'column': 'invoiceamountintrancurrency', 'score': 0.7812486886978149, 'doc': 'Table: invoice_data | Column: invoiceamountintrancurrency | Type: INTEGER'}, {'column': 'exchangerate', 'score': 0.8029142022132874, 'doc': 'Table: invoice_data | Column: exchangerate | Type: NUMERIC'}, {'column': 'Invoiceamountinbasecurrency', 'score': 0.8169113397598267, 'doc': 'Table: invoice_data | Column: Invoiceamountinbasecurrency | Type: IntegerType()'}, {'column': 'InvoiceamountinTrancurrency', 'score': 0.8196846842765808, 'doc': 'Table: invoice_data | Column: InvoiceamountinTrancurrency | Type: IntegerType()'}, {'column': 'division_id', 'score': 0.8278186321258545, 'doc': 'Table: invoice_data | Column: division_id | Type: INTEGER'}, {'column': 'entity_id', 'score': 0.8555570244789124, 'doc': 'Table: invoice_data | Column: entity_id | Type: INTEGER'}, {'column': 'Exchangerate', 'score': 0.8558158278465271, 'doc': 'Table: invoice_data | Column: Exchangerate | Type: DecimalType(20,2)'}, {'column': 'Division_id', 'score': 0.8599708080291748, 'doc': 'Table: invoice_data | Column: Division_id | Type: IntegerType()'}, {'column': 'id', 'score': 0.8608421683311462, 'doc': 'Table: invoice_data | Column: id | Type: BIGINT'}, {'column': 'country_id', 'score': 0.8632621169090271, 'doc': 'Table: invoice_data | Column: country_id | Type: INTEGER'}, {'column': 'Date', 'score': 0.8640649318695068, 'doc': 'Table: invoice_data | Column: Date | Type: TimestampType()'}, {'column': 'customer_id', 'score': 0.8666876554489136, 'doc': 'Table: invoice_data | Column: customer_id | Type: INTEGER'}, {'column': 'saletype', 'score': 0.8670449256896973, 'doc': 'Table: invoice_data | Column: saletype | Type: VARCHAR'}, {'column': 'date', 'score': 0.8678449392318726, 'doc': 'Table: invoice_data | Column: date | Type: TIMESTAMP'}, {'column': 'region_id', 'score': 0.8707946538925171, 'doc': 'Table: invoice_data | Column: region_id | Type: INTEGER'}, {'column': 'SaleType', 'score': 0.8799123167991638, 'doc': 'Table: invoice_data | Column: SaleType | Type: StringType()'}, {'column': 'Country_id', 'score': 0.8847094178199768, 'doc': 'Table: invoice_data | Column: Country_id | Type: IntegerType()'}, {'column': 'Entity_id', 'score': 0.8884963393211365, 'doc': 'Table: invoice_data | Column: Entity_id | Type: IntegerType()'}, {'column': 'Region_id', 'score': 0.8947593569755554, 'doc': 'Table: invoice_data | Column: Region_id | Type: IntegerType()'}, {'column': 'customer_id', 'score': 0.8987162113189697, 'doc': 'Table: invoice_data | Column: customer_id | Type: IntegerType()'}, {'column': 'id', 'score': 0.9086494445800781, 'doc': 'Table: invoice_data | Column: id | Type: LongType()'}])] rank *****

In [28]:
for table, columns in ranked_tables:
    print(f"\nTable: {table}")
    for col in columns:
        print(f"  - Column: {col['column']} | Score: {col['score']:.4f}")

Table: invoice_data
  - Column: currency | Score: 0.7614
  - Column: Currency | Score: 0.7714
  - Column: invoiceamountinbasecurrency | Score: 0.7794
  - Column: invoiceamountintrancurrency | Score: 0.7812
  - Column: exchangerate | Score: 0.8029
  - Column: Invoiceamountinbasecurrency | Score: 0.8169
  - Column: InvoiceamountinTrancurrency | Score: 0.8197
  - Column: division_id | Score: 0.8278
  - Column: entity_id | Score: 0.8556
  - Column: Exchangerate | Score: 0.8558
  - Column: Division_id | Score: 0.8600
  - Column: id | Score: 0.8608
  - Column: country_id | Score: 0.8633
  - Column: Date | Score: 0.8641
  - Column: customer_id | Score: 0.8667
  - Column: saletype | Score: 0.8670
  - Column: date | Score: 0.8678
  - Column: region_id | Score: 0.8708
  - Column: SaleType | Score: 0.8799
  - Column: Country_id | Score: 0.8847
  - Column: Entity_id | Score: 0.8885
  - Column: Region_id | Score: 0.8948
  - Column: customer_id | Score: 0.8987
  - Column: id | Score: 0.9086

In [29]:
table_list = []

for table_name,_ in ranked_tables:
  table_list.append(table_name)

res_df = df[df['source_tablename'].isin(table_list)]

res_df

,sourcename,sourceid,source_tablename,bronzedwh_tablename,silverdwh_tablename,column_id,source_columnname,bronzedwh_columnname,silverdwh_columnname,datatype,lh_datatype,length,precisions,scale,keyconstraint,nullable,silver_default_value,createdatetime,document
0,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,1,id,id,id,BIGINT,NaN,NaN,19.0,0.0,PRIMARY KEY,True,0,2025-09-26 16:43:50.303000,Table: invoice_data | Column: id | Type: BIGINT
1,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,2,date,date,date,TIMESTAMP,NaN,NaN,NaN,NaN,NaN,True,1970-01-01 00:00:00,2025-09-26 16:43:50.303000,Table: invoice_data | Column: date | Type: TIM...
2,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,3,customer_id,customer_id,customer_id,INTEGER,NaN,NaN,10.0,0.0,NaN,True,NaN,2025-09-26 16:43:50.303000,Table: invoice_data | Column: customer_id | Ty...
3,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,4,entity_id,entity_id,entity_id,INTEGER,NaN,NaN,10.0,0.0,NaN,True,NaN,2025-09-26 16:43:50.303000,Table: invoice_data | Column: entity_id | Type...
4,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,5,region_id,region_id,region_id,INTEGER,NaN,NaN,10.0,0.0,NaN,True,NaN,2025-09-26 16:43:50.303000,Table: invoice_data | Column: region_id | Type...
5,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,6,country_id,country_id,country_id,INTEGER,NaN,NaN,10.0,0.0,NaN,True,NaN,2025-09-26 16:43:50.303000,Table: invoice_data | Column: country_id | Typ...
6,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,7,division_id,division_id,division_id,INTEGER,NaN,NaN,10.0,0.0,NaN,True,NaN,2025-09-26 16:43:50.303000,Table: invoice_data | Column: division_id | Ty...
7,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,8,saletype,saletype,saletype,VARCHAR,NaN,100.0,NaN,NaN,NaN,True,NaN,2025-09-26 16:43:50.303000,Table: invoice_data | Column: saletype | Type:...
8,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,9,invoiceamountintrancurrency,invoiceamountintrancurrency,invoiceamountintrancurrency,INTEGER,NaN,NaN,10.0,0.0,NaN,True,NaN,2025-09-26 16:43:50.303000,Table: invoice_data | Column: invoiceamountint...
9,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,10,currency,currency,currency,VARCHAR,NaN,100.0,NaN,NaN,NaN,True,NaN,2025-09-26 16:43:50.303000,Table: invoice_data | Column: currency | Type:...
10,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,11,exchangerate,exchangerate,exchangerate,NUMERIC,NaN,NaN,20.0,2.0,NaN,True,0,2025-09-26 16:43:50.303000,Table: invoice_data | Column: exchangerate | T...
11,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,12,invoiceamountinbasecurrency,invoiceamountinbasecurrency,invoiceamountinbasecurrency,INTEGER,NaN,NaN,10.0,0.0,NaN,True,NaN,2025-09-26 16:43:50.303000,Table: invoice_data | Column: invoiceamountinb...
12,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,7,SaleType,SaleType,SaleType,StringType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,Table: invoice_data | Column: SaleType | Type:...
13,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,5,Country_id,Country_id,Country_id,IntegerType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,Table: invoice_data | Column: Country_id | Typ...
14,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,9,Currency,Currency,Currency,StringType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,Table: invoice_data | Column: Currency | Type:...
15,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,10,Exchangerate,Exchangerate,Exchangerate,"DecimalType(20,2)",NaN,NaN,20.0,2.0,NO,True,NaN,NaT,Table: invoice_data | Column: Exchangerate | T...
16,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,0,id,id,id,LongType(),NaN,NaN,NaN,NaN,YES,True,NaN,NaT,Table: invoice_data | Column: id | Type: LongT...
17,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,3,Entity_id,Entity_id,Entity_id,IntegerType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,Table: invoice_data | Column: Entity_id | Type...
18,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,2,customer_id,customer_id,customer_id,IntegerType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,Table: invoice_data | Column: customer_id | Ty...
19,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,11,Invoiceamountinbasecurrency,Invoiceamountinbasecurrency,Invoiceamountinbasecurrency,IntegerType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,Table: invoice_data | Column: Invoiceamountinb...
20,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,1,Date,Date,Date,TimestampType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,Table: invoice_data | Column: Date | Type: Tim...
21,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,6,Division_id,Division_id,Division_id,IntegerType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,Table: invoice_data | Column: Division_id | Ty...
22,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,8,InvoiceamountinTrancurrency,InvoiceamountinTrancurrency,InvoiceamountinTrancurrency,IntegerType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,Table: invoice_data | Column: InvoiceamountinT...
23,SQL Server,invoicedata,invoice_data,stg_invoicedata,d_invoice_data,4,Region_id,Region_id,Region_id,IntegerType(),NaN,NaN,NaN,NaN,NO,True,NaN,NaT,Table: invoice_data | Column: Region_id | Type...